In [1]:
import seaborn as sns
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib

Using matplotlib backend: <object object at 0x112391ad0>

In [2]:
# Generates and plots Sengupta & Lazarus (2023) Fig 1b

url = 'https://zenodo.org/record/7674076/files/Sengupta_Lazarus_2023_F1_b.csv?download=1'
dt = pd.read_csv(url)

dt.head()

    Seaports  Total coastal land reclamation (km2)
0    Tianjin                                183.78
1  Singapore                                 58.86
2    Yingkou                                 51.87
3   Shanghai                                 51.86
4   Tangshan                                 44.09

In [14]:
sns.set(font_scale=1.5)
sns.set_style("ticks")
sns.set_style({'font.family': 'Arial'})
plt.xticks(rotation=90)
plt.tight_layout()
sns.barplot(data=dt,color='black', x="Seaports", y="Total coastal land reclamation (km2)")